.calculator-section {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-0300);
  border-radius: var(--spacing-0100);
  padding: var(--spacing-0300);
  background-color: var(--color-white);
  box-shadow: 15px 25px 25px rgba(179, 211, 241, 0.4);
}

.calculator-section header {
  align-items: start;

  h2 {
    font: var(--preset-font-4);
    letter-spacing: var(--preset-letter-spacing-4);
    color: var(--color-blue-900);
    text-align: start;
  }
}

.calculator-section .calculator-units {
  ul {
    display: flex;
    flex-direction: row;
    column-gap: var(--spacing-0300);
    list-style: none;
  }
  ul li {
    display: flex;
    flex-direction: row;
    column-gap: var(--spacing-0100);
    width: 100%;
  }

  ul li label {
    font: var(--preset-font-6-semibold);
    letter-spacing: var(--preset-letter-spacing-6);
    color: var(--color-blue-900);
  }
}

input[type="number"] {
  border-radius: var(--spacing-0200);
  font: var(--preset-font-4);
  letter-spacing: var(--preset-letter-spacing-4);
  border: none;
}

.input-imperial[hidden],
.input-metric[hidden] {
  display: none;
}

.input-imperial {
  display: flex;
  flex-direction: row;
  column-gap: var(--spacing-0200);

  div {
    width: 100%;
  }

  input[type="number"] {
    flex-grow: 1;
    min-width: 0px;
    width: 100%;
  }
}

.input-metric input {
  width: 100%;
}

.calculator-section .calculator-inputs {
  display: flex;
  flex-direction: column;
}

.calculator-input-container {
  display: flex;
  flex-direction: column;

  label {
    font: var(--preset-font-6);
    letter-spacing: var(--preset-letter-spacing-6);
    color: var(--color-grey-500);
    padding: var(--spacing-0200) var(--spacing-0000);
  }
}

.input-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid var(--color-blue-900);
  padding: var(--spacing-0300);
  padding-top: var(--spacing-0400);
  border-radius: var(--spacing-0200);

  p {
    font: var(--preset-font-4);
    letter-spacing: var(--preset-letter-spacing-4);
    color: var(--color-blue-500);
  }
}

.calculator-section .calculator-result-wrapper {
  background-color: var(--color-blue-500);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-0300);
  padding: var(--spacing-0300);
  border-radius: var(--spacing-0200);
  font: var(--preset-font-7);
  letter-spacing: var(--preset-letter-spacing-7);
  color: var(--color-white);

  div {
    display: flex;
    flex-direction: column;
  }

  #calculator-result {
    font: var(--preset-font-6-semibold);
    letter-spacing: var(--preset-letter-spacing-6);
  }

  #calculator-result {
    font: var(--preset-font-1);
    letter-spacing: var(--preset-letter-spacing-1);
  }

  #result-explanation {
    strong {
      font: var(--preset-font-7-bold);
    }
  }

  .welcome-message {
    font: var(--preset-font-4);
    letter-spacing: var(--preset-letter-spacing-4);
  }
}

@media (min-width: 767px) {
  .calculator-section .calculator-result-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: var(--spacing-0400);
    border-radius: var(--spacing-0100) 9em 9em var(--spacing-0100);
  }

  .calculator-section .calculator-inputs.metric {
    flex-direction: row;
    column-gap: var(--spacing-0300);
  }
}

.result-unempty-state[hidden],
.result-empty-state[hidden] {
  display: none;
}
