/* Reset */

* {
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* fonts */

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* Variables */

:root {
  /* color */
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-grey-500: rgb(94, 110, 133);
  --color-grey-300: rgb(172, 193, 222);
  --color-blue-900: rgb(37, 51, 71);
  --color-blue-500: rgb(52, 95, 246);
  --color-blue-300: rgb(179, 211, 241);
  --color-blue-100: rgb(225, 231, 254);
  --gradient-1: linear-gradient(
    -75deg,
    rgb(214, 230, 254),
    rgb(214, 252, 254),
    var(--color-white)
  );

  /* spacing */
  --spacing-0000: 0px;
  --spacing-0100: 8px;
  --spacing-0200: 16px;
  --spacing-0300: 24px;
  --spacing-0400: 32px;
  --spacing-0500: 40px;
  --spacing-0600: 48px;
  --spacing-0700: 56px;
  --spacing-0900: 72px;
  --spacing-1100: 88px;
  --spacing-1200: 96px;
  --spacing-1300: 104px;
  --spacing-1500: 128px;
  --spacing-1800: 144px;

  /* font presets */

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* 64px */
  --preset-font-1: var(--font-weight-semibold) 4rem/1.1 "Inter";
  --preset-letter-spacing-1: -0.05em;

  /* 48px */
  --preset-font-2: var(--font-weight-semibold) 3rem/1.1 "Inter";
  --preset-letter-spacing-2: -0.05em;

  /* 32px */
  --preset-font-3: var(--font-weight-semibold) 2rem/1.1 "Inter";
  --preset-letter-spacing-3: -0.05em;

  /* 24px */
  --preset-font-4: var(--font-weight-semibold) 1.5rem/1.2 "Inter";
  --preset-letter-spacing-4: -0.05em;

  /* 20px */
  --preset-font-5: var(--font-weight-semibold) 1.25rem/1.2 "Inter";
  --preset-letter-spacing-5: 0.05em;

  /* 16px */
  --preset-font-6: var(--font-weight-regular) 1rem/1.5 "Inter";
  --preset-font-6-semibold: var(--font-weight-semibold) 1rem/1.5 "Inter";
  --preset-letter-spacing-6: 0em;

  /* 14px */
  --preset-font-7: var(--font-weight-regular) 0.875rem/1.5 "Inter";
  --preset-font-7-bold: var(--font-weight-bold) 0.875rem/1.5 "Inter";
  --preset-letter-spacing-7: 0em;
}

/* Default */

html {
  font: var(--preset-font-6);
  letter-spacing: var(--preset-letter-spacing-6);
  color: var(--color-grey-500);
}
/* Styling */

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-1200);
  max-width: 1140px;
  margin-inline: auto;
  padding: var(--spacing-0400) var(--spacing-0000);
}

@media (min-width: 1023px) {
  main {
    padding: var(--spacing-1100) var(--spacing-0000);
  }
}

.visual-group-1 > *,
.visual-group-2,
.visual-group-3,
.visual-group-4 {
  padding-inline: var(--spacing-0200);
}

@media (min-width: 767px) {
  .visual-group-1 > *,
  .visual-group-2,
  .visual-group-3,
  .visual-group-4 {
    padding-inline: var(--spacing-0500);
  }
}

@media (min-width: 1023px) {
  .visual-group-1 > *,
  .visual-group-2,
  .visual-group-3,
  .visual-group-4 {
    padding-inline: var(--spacing-1800);
  }
}

/* Visual Group 1 */

.visual-group-1 {
  position: relative;
}

.visual-group-1::before {
  position: absolute;
  content: "";
  inset: 0;
  background-repeat: no-repeat;
  background-image: var(--gradient-1);
  background-size: cover;
  z-index: -1;
  height: 70%;
  border-radius: 0 0 50px;
}

.top-level-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.top-logo-section {
  display: flex;
  justify-content: center;
}

@media (min-width: 1023px) {
  .top-logo-section {
    justify-content: flex-start;
  }
}

.top-level-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: var(--spacing-0300);

  h1 {
    font: var(--preset-font-2);
    letter-spacing: var(--preset-letter-spacing-2);
    color: var(--color-blue-900);
  }
  p {
    font: var(--preset-font-6);
    letter-spacing: var(--preset-letter-spacing-6);
    color: var(--color-grey-500);
  }
}

@media (min-width: 1023px) {
  .visual-group-1 {
    position: relative;
  }

  .visual-group-1::before {
    width: 70%;
    height: 90%;

    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .top-level-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    column-gap: var(--spacing-0400);
  }

  .top-level-container > header:first-child {
    align-items: start;
    text-align: start;
    padding-top: var(--spacing-0900);
    h1 {
      font: var(--preset-font-1);
      letter-spacing: var(--preset-letter-spacing-1);
      color: var(--color-blue-900);
    }
  }
}

.visual-group-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-0600);

  img {
    max-width: 400px;
    width: 100%;
    justify-self: center;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spacing-0400);
    padding-inline: var(--spacing-0300);

    h2 {
      font: var(--preset-font-3);
      letter-spacing: var(--preset-letter-spacing-3);
      color: var(--color-blue-900);
    }

    p {
      font: var(--preset-font-6);
      letter-spacing: var(--preset-letter-spacing-6);
      color: var(--color-grey-500);
    }
  }
}

.decorative-line {
  display: none;
}

@media (min-width: 767px) {
  .visual-group-2 {
    flex-direction: row;
    column-gap: var(--spacing-0900);
    margin-left: -100px;

    .text-content {
      padding: var(--spacing-0400);
    }
  }
}

@media (min-width: 1023px) {
  .visual-group-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;

    img {
      max-width: 600px;
    }

    .text-content h2 {
      font: var(--preset-font-2);
      letter-spacing: var(--preset-letter-spacing-2);
      color: var(--color-blue-900);
    }
  }

  .decorative-line {
    display: block;
    width: 85px;
    height: 200px;
  }

  .visual-group-2 .decorative-line {
    align-self: flex-end;
  }
}

.visual-group-3 {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-0500);
  position: relative;
  padding-top: var(--spacing-1200);
  padding-bottom: var(--spacing-1200);

  div {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: var(--spacing-0400);
  }

  .text-content {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-0300);
  }

  .text-content-title {
    font: var(--preset-font-4);
    letter-spacing: var(--preset-letter-spacing-4);
    color: var(--color-blue-900);
  }
}

.visual-group-3::before {
  position: absolute;
  left: 0px;
  right: 0px;
  background-image: var(--gradient-1);
  opacity: 0.25;
  content: "";
  inset: 0;
  z-index: -1;
}

@media (min-width: 767px) {
  .visual-group-3 {
    div {
      flex-direction: row;
      column-gap: var(--spacing-0400);
      align-items: center;
    }

    .text-content {
      align-items: start;
    }
  }
}

@media (min-width: 1023px) {
  .visual-group-3 {
    flex-direction: row;
    column-gap: var(--spacing-0500);
    div {
      flex-direction: row;
      column-gap: var(--spacing-0400);
      align-items: center;
    }
    div {
      flex-direction: column;
      align-items: start;
    }
  }

  .visual-group-3::before {
    border-radius: var(--spacing-0200);
  }
}

.visual-group-4 {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-0700);
  /* background-color: red; */

  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: var(--spacing-0400);
    h2 {
      font: var(--preset-font-3);
      letter-spacing: var(--preset-font-3);
      color: var(--color-blue-900);
    }
  }

  div {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-0200);
  }

  div div {
    padding: var(--spacing-0200);
    border-radius: var(--spacing-0200);
    box-shadow: 5px 10px 10px rgba(179, 211, 241, 0.4);
  }

  div header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--spacing-0300);

    h3 {
      font: var(--preset-font-5);
      letter-spacing: var(--preset-letter-spacing-5);
      color: var(--color-blue-900);
    }
  }
}

@media (min-width: 767px) {
  .visual-group-4 div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--spacing-0300);

    div {
      flex-basis: 310px;
      justify-content: flex-start;
    }
  }
}

@media (min-width: 1023px) {
  .visual-group-4 {
    position: relative;
  }
  .visual-group-4 > header {
    position: absolute;
    top: var(--spacing-0000);
    left: var(--spacing-1800);
    max-width: 500px;
    text-align: start;
    row-gap: var(--spacing-0300);

    h2 {
      font: var(--preset-font-2);
      letter-spacing: var(--preset-letter-spacing-2);
    }
    .decorative-line {
      margin-left: 20%;
    }
  }
  .visual-group-4 div {
    padding-top: 50px;
    max-width: 960px;
    align-self: flex-end;
    justify-content: flex-end;
    row-gap: var(--spacing-0400);

    div {
      flex-shrink: 1;
      width: 300px;
    }

    div:first-child {
      margin-left: 500px;
      margin-right: auto;
      width: auto;
    }

    div:last-child {
      margin-right: auto;
    }
  }

  .decorative-line {
    display: block;
    width: 85px;
    height: 200px;
  }
}
